<html>
<body>
<h1>属性の追加</h1>
<form method="POST" action=".">
<input type="hidden" name="attrib[category_id]" value="<%= params[:category_id] %>" />
<p>名前:<input type="input" name="attrib[readname]" value="" /></p>
<p><input type="submit" value="追加" /></p>
</form>
</body>
</html>

