body
{
	font-size: 12px;
}

#dirname
{
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 5px 20px;
	vertical-align: middle;
	border-bottom: 1px solid black;
}

#dircontent
{

}

#dirtable
{
	margin-left: 100px;
	width: 1000px;
	border-left: 3px solid #808080;
}

.cname
{
	vertical-align: middle;
}

.ccdate, .cmdate
{
	font-size: 10px;
}