body
{
	font-size: 15px;
	padding: 0;
}

#dirname
{
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 10px 30px;
	vertical-align: middle;
	border-bottom: 2px solid #404040;
}

#dircontent
{

}

#dirtable
{
	margin-left: 100px;
	width: 1000px;
	border-left: 2px solid #808080;
}

.cname
{
}

.vmiddle
{
	vertical-align: middle;
}

.ccdate, .cmdate
{
	font-size: 13px;
}
.csize, .cmime
{
	font-size: 13px;
	font-style: italic;
}