body
{
	font-size: 15px;
	padding: 0;
}

#dirname
{
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 10px 30px;
	border-bottom: 1px solid #404040;
}

#dircontent
{
	background-color: #a0a0a0;
}

#dirtable
{
	margin-left: 100px;
	margin-right: 0;
	min-width: 1000px;
	width: auto;
	background-color: white;
	border-left: 2px solid #808080;
}

.cname
{
}

.vmiddle
{
	vertical-align: middle;
}

.ccdate, .cmdate
{
	font-size: 13px;
}
.csize, .cmime
{
	font-size: 13px;
	font-style: italic;
}

#footer
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 10px 30px;
	border-top: 2px solid #c0c0c0;
}

#footer p
{
	text-align: right;
	font-style: italic;
}
