<h1><%= Category.find(params[:category_id]).readname %> ドキュメント一覧</h1>
<p><a href="/categories/<%=params[:category_id]%>/documents/new">追加</a></p>
<ul>
<% @documents.each do |doc| %>
<li>
<%= link_to doc.idname,:controller=>"documents",:action=>"show",:id => doc.id %> 
<%= link_to '削除', :controller => "documents", :action=>"destroy",:id => doc.id, :confirm => 'Are you sure?', :method => :delete %>
</li>
<% end %>
</ul>

