<div id="header">
<ul class="recentpath">
<li></li>
</ul>
<h2 id="dirname">フロントページ</h2>
</div>
<div id="dircontent">
<div id="dirtablediv">
<p><%= link_to 'カテゴリ一覧',:controller=>"categories",:action=>"index" %></p>
<p><%= link_to 'DAVパス',:controller=>"fakedav",:action=>"prop" %></p>
</div>
</div>
