<html>
<head>
</head>
<body>
<h1>種類一覧</h1>
<p><%= link_to('新規', {:controller=>"categories",:action=>"new"}) %></p>
<ul>
<% @categories.each do |cat| %>
<li><%= link_to(cat.readname, {:controller=>"categories",:action=>"show",:id => cat.id}) %></li>
<% end %>
</ul>
</body>
</html>

