<html>
<body>
<h1>新たな種類の追加</h1>
<form method="post" action="./">
<p>名前:<input type="input" id="readname" name="category[readname]" value="" /></p>
<p><input type="submit" value="追加" /></p>
</form>
</body>
</html>

